package components

templ SubTitle(text string) {
	@SubTitleStyle()
	<h2 class="subtitle">{ text }</h2>
}

templ SubTitleStyle() {
	<style>
	.subtitle {
		font-size: 16px;
		color: #BABABA;
	}
	</style>
}
