package components

templ Title(title string) {
	@TitleCSS()
	<h1 class="title">{ title }</h1>
}

templ TitleCSS() {
	<style>
	.title{
		font-weight: bold;
		margin-bottom: 12px;
		margin-top: 0;
		color: var(--color-white);
		font-size: 70px;
	}
	</style>
}
