package views

import "github.com/viacheslav-korobeynikov/vacancy-site/views/components"
import "github.com/viacheslav-korobeynikov/vacancy-site/views/layout"

templ Main() {
	@layout.Layout(layout.LayoutProps{
		Title:           "Найди работу мечты",
		MetaDescription: "Сайт по поиску работы мечты",
	}) {
		<main>
			@layout.Header() {
				@components.Title("Найдите работу своей мечты")
				@components.SubTitle("Простой поиск работы")
			}
			Main
		</main>
	}
}
