package views

import "github.com/viacheslav-korobeynikov/vacancy-site/views/components"
import "github.com/viacheslav-korobeynikov/vacancy-site/views/layout"

templ Main() {
	<main>
		@layout.Header() {
			@components.Title("Найдите работу своей мечты")
			@components.SubTitle("Простой поиск работы")
		}
		Main
	</main>
}
