<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Страница</title>
</head>
<body>
  {{.Count}} - число пользователей
  <br/>
  {{if .IsAdmin}}
  <p>Вы админ</p>
  {{else}}
  <p>Вы не админ</p>
  {{end}}
  <br/>
  {{if eq .Count 0}} <!-- Проверяем что count равен 0-->
  <p>Пользователей нет</p>
  {{else if lt .Count 10}} <!-- Проверяем что count меньше 10-->
  <p>Пользователей меньше 10</p>
  {{ else}}
  <p>Пользователей 10 или более</p>
  {{end}}
  <br/>
</body>
</html>